<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
<head>
    <meta charset="UTF-8">
    <title>Archive Event</title>
</head>
<body>

<hl> Archive Events</hl>


<form th:action="@{/admin/archiveEvent}" th:object = "${event}" method="POST">

    <div class="form-group blu-margin">

        <select class="form-control" th:field="${Events}"  name="dropEvents">
            <option value="">Select Events</option>
            <option th:each="Event : ${eventList}" th:value="${}" th:text=""></option>
        </select>

    </div>



</form>





</body>
</html>

