<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
<head>
    <title>Create Event</title>

</head>

<body>

<h1>Create Event</h1>


<form th:action="@{/admin/createTravel}" th:object="${travel}" method="POST">
    <table>

        <tr>
            <td>Flight Airline</td>
            <td><input type="text" th:field="*{airline}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Flight Departure</td>
            <td><input type="text" th:field="*{departureTime}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Flight Arrival</td>
            <td><input type="text" th:field="*{arrivalTime}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Arrival Terminal</td>
            <td><input type="text" th:field="*{arrivalTerminal}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Flight Confirmation</td>
            <td><input type="text" th:field="*{confirmationCode}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Departure Terminal</td>
            <td><input type="text" th:field="*{departureTerminal}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>User E-mail</td>
            <td><input type="text" th:field="*{userId}" /> </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Event Name</td>
            <td><input type="text" th:field="*{eventId}" /> </td>
            <td>
            </td>
        </tr>

        <tr>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>

</html>

