<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
<head>
    <title>Admin</title>
    <h1>Admin Dashboard</h1>
</head>

<body>
<table>
    <tr>
        <td><a th:href="@{/admin/createEvent}">Create Event</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/admin/uploadHandbook}">Upload Handbook</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/admin/uploadTravelInfo}">Upload Travel Information</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/LogoutSuccessful}">Sign out</a></td>
    </tr>
</table>
</body>

</html>

