<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
<head>
    <title>ECMS Player Dashboard</title>
    <h1>ECMS Player Dashboard</h1>
</head>

<body>
<table>
    <tr>
        <td><a th:href="@{/player/viewArchived}">View your past Events</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/player/viewEvents}">View Current Events</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/player/viewFlights}">View Flight Information</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/LogoutSuccessful}">Sign out</a></td>
    </tr>
</table>
</body>

</html>

