
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<!-- /login?error=true -->
<div id="loginForm" align="center">
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br />
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

    </div>

    <h3>Enter user email and password:</h3>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <table>
            <tr>
                <td>User Email:</td>
                <td><input type='text' name='email' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td><input name="submit" id="submitButton" type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <br>

</div>

</ul>

</body>

</html>