body {
	background-color: #f5b695;
}

h1 {
	text-align: center;
	font-size: 100px;

}

#loginForm {
	background-color: white;
	font-family: arial;
	border-width: thick thin;
	border-style: solid;
	border-color: orange;
}

#submitButton {
	background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;


}