h1 {
	text-align: center;
	font-size: 300%;
	color: orange;
}

#pastEventsButton, #logoutButton {
	float: right;
}

#pastEventsButton {
	background-color: orange;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}



.moreInfoButton {
	background-color: beige;
    border: none;
    color: orange;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

td {
	text-align: center;
}
table {
	width: 100%;
}
tr {
	border-style: solid; /*not doing anything atm */
	border-color: beige; /*not doing anything atm */
	background-color: white;
}

body {
	background-color: beige;

}